<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello World</h1>
    <p>Welcome to <%= title %></p>
    <p><a href="logout">登出</a></p>
    <form action="modify" method="post">
    	<h3>修改密码</h3>
	    <p>
	    	<span>新密码:</span>
	    	<br>
	    	<input id="password" name="password" type="password">
	    </p>
	    <p><input type="submit" value="submit"></p>
    </form>
  </body>
</html>